data/book.json
data/kitap _backup.json

# Tüm pyc, pyo, pyd dosyalarını ignore et
*.py[cod]

# __pycache__ klasörlerini ignore et (her seviyede)
__pycache__/
**/__pycache__/

# VS Code settings
.vscode/

# Mac system files
.DS_Store
